@media screen and (min-width: 700px) {
  #navbar-menu-container {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: larger;
    gap: 10px;
  }
  header {
    nav {
      .boton-menu-desplegable {
        display: none;
      }
    }
  }
  p {
    font-size: large;
  }
}
@media screen and (min-width: 1024px) {
  .grid-container-olympia {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 3px;
    margin: 10px;
    .item-1975 {
      grid-column: -6/2;
    }
    .item-1980 {
      grid-column: 2/5;
    }
  }
  .grid-container-terminator {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 3px;
  }
  .grid__container__rutinas {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    .rutinas__video__container {
      display: inline-flex;
      background-color: #e6c07b;
      border: 2px solid #fff;
      border-radius: 5px;
      margin: 5px;
      grid-column: 2/4;
      justify-content: center;
      .rutinas-video {
        max-width: 100%;
        filter: grayscale(1);
        border-radius: 5px;
      }
    }
  }
  header {
    nav {
      .boton-menu-desplegable {
        display: none;
      }
    }
  }
  p {
    font-size: x-large;
  }
}
